@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font: 100% "Poppins";
  max-width: 1920px;
  height: auto;
  font-style: "Regular";
  padding: 0;
  margin: 0;
}
body .main .container .header {
  height: 213px;
  display: flex;
  justify-content: space-between;
}
body .main .container .header .logo {
  margin: 60px 0 93px 0;
}
body .main .container .header .left img, body .main .container .header .right img {
  max-width: 100%;
  height: auto;
}
body .main .container .menu {
  flex-direction: column;
  text-align: center !important;
  height: 100%;
  margin-bottom: 200px;
}
body .main .container .menu .title {
  text-transform: uppercase;
  color: #162C4E;
  font-style: "Bold";
  font-weight: 700;
  opacity: 39%;
  font-size: 72px;
  margin-bottom: 8px;
}
body .main .container .menu .subtitle {
  font-weight: 400;
  font-size: 18px;
  width: 423px !important;
  margin-left: 400px;
  line-height: 27px;
  margin-bottom: 0 !important;
}
body .main .container .menu .timer {
  font-weight: 600;
  color: #162C4E;
  margin-top: 32px;
  font-size: 72px;
}
body .main .container .menu .name-mobile {
  display: none;
}
body .main .container .menu .name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 72px;
  text-align: center !important;
}
body .main .container .menu .name img {
  margin: 0 6px 0 6px;
}
body .main .container .menu .button-menu {
  text-align: center !important;
  display: inline-block;
  display: inline-flex;
  background: #1D4169;
  min-width: 240px;
  height: 60px;
  border-radius: 40px;
  margin: 12px 0 76px 0;
}
body .main .container .menu .button-menu a {
  text-decoration: none;
  margin: 16px 31px 17px 28px;
  color: #FFFFFF;
  font-size: 18px;
}
body .main .container .menu .button-menu img {
  margin: 20px;
}
body .main .container .footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: #162C4E;
  min-height: 192px;
  min-width: 100%;
  font-size: 18px;
}
body .main .container .footer .footer-container {
  display: inline-flex;
  text-align: center !important;
  background: #FFFFFF;
  width: 440px;
  height: 59px;
  border-radius: 40px;
  margin: 61px 0 72px 0;
}
body .main .container .footer .footer-container form {
  display: inline-flex !important;
}
body .main .container .footer .footer-container form input {
  font: 100% "Roboto";
  color: rgba(0, 0, 0, 0.6);
  border: none;
  margin: 16px 0 16px 27px;
  width: 357px;
  padding: 0;
}
body .main .container .footer .footer-container form input:focus {
  outline: 0;
}
body .main .container .footer .footer-container form button {
  border: none !important;
  align-items: center;
  background: none !important;
}
body .main .container .footer .footer-container form button img {
  width: 43px !important;
  margin: 8px 8px 8 px 0;
}
body .main .container .popup {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 168vh;
  top: 0;
  left: 0;
  background-color: rgba(22, 44, 78, 0.6);
  display: none;
}
body .main .container .popup .popup-js-success {
  background: #FFFFFF;
  position: absolute;
  width: 320px;
  height: 370px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .main .container .popup .popup-js-success h2 {
  color: #162C4E;
  text-transform: uppercase;
  font-style: "Bold";
  font-size: 36px;
  margin-top: 67px;
}
body .main .container .popup .popup-js-success p {
  font-size: 16px;
  width: 280px;
  margin-left: 24px;
}
body .main .container .popup .popup-js-success .button-menu {
  text-align: center !important;
  display: inline-block;
  display: inline-flex;
  background: #1D4169;
  min-width: 200px;
  height: 59px;
  border-radius: 40px;
  margin: 29px 0 69px 0;
}
body .main .container .popup .popup-js-success .button-menu a {
  text-decoration: none;
  margin: 16px 73px 16px 74px;
  color: #FFFFFF;
  font-size: 18px;
}
body .main .container .popup .popup-js-success .close-popup {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
}
body .main .container .popup .popup-js-success .close-popup:before {
  content: "";
  background-color: rgba(19, 89, 120, 0.5);
  position: absolute;
  top: 11px;
  left: -4px;
  width: 31px;
  height: 1px;
  transform: rotate(-45deg);
}
body .main .container .popup .popup-js-success .close-popup:after {
  content: "";
  position: absolute;
  background-color: rgba(19, 89, 120, 0.5);
  top: 11px;
  left: -4px;
  width: 31px;
  height: 1px;
  transform: rotate(45deg);
}

@media all and (max-width: 768px) {
  body {
    width: 100% !important;
  }
  body .main .container {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  body .main .container .header {
    height: 300px;
    justify-content: none;
    align-items: stretch;
  }
  body .main .container .header .left img, body .main .container .header .right img {
    width: 100%;
  }
  body .main .container .header .logo {
    margin: 100px 0 166px 0;
  }
  body .main .container .menu .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  body .main .container .menu .subtitle {
    width: 100% !important;
    margin-left: 0;
  }
  body .main .container .menu .timer {
    margin-top: 40px;
    font-size: 36px;
  }
  body .main .container .menu .name-mobile {
    display: block;
    margin-bottom: 40px;
  }
  body .main .container .menu .name {
    display: none;
  }
  body .main .container .menu .name img {
    margin: 0 9px 0 9px;
  }
  body .main .container .menu .button-menu {
    margin: 15px 0 169px 0;
  }
  body .main .container .footer {
    min-height: 160px;
    min-width: 100%;
    font-size: 14px;
  }
  body .main .container .footer .footer-container {
    width: 360px;
    height: 41px;
    margin: 59px auto 60px auto;
    padding: 0;
  }
  body .main .container .footer .footer-container form input {
    margin: 10px 0 10px 20px;
    width: 299px;
  }
  body .main .container .footer .footer-container form button {
    padding: 0 !important;
  }
  body .main .container .footer .footer-container form button img {
    width: 33px !important;
    margin: 4px;
  }
}
@media all and (max-width: 360px) {
  body .main .container .header {
    height: 186px;
  }
  body .main .container .header .logo {
    margin: 84px 0 66px 0;
  }
  body .main .container .menu .title {
    margin-bottom: 16px;
  }
  body .main .container .button-menu {
    margin-bottom: 86px;
  }
  body .main .footer {
    min-height: 141px;
    min-width: 100% !important;
  }
  body .main .footer .footer-container {
    min-width: 280px !important;
    margin: 50px 40px 65px 40px !important;
  }
  body .main .footer .footer-container form input {
    margin: 10px 0 10px 10px;
    width: 205px !important;
  }
  body .main .footer .footer-container form img {
    margin-left: 18px !important;
  }
}/*# sourceMappingURL=style.css.map */